#Navbar,
.Navbar2 {
  padding: 30px 50px;
  height: 60px;
  background-color: $seashell;
  z-index: 2;

  * {
    font-family: "Didot";
    color: $seashell;
    font-style: italic;
  }

  h1 {
    width: 33vw;
    font-size: 40px;
  }

  ul {
    width: 33vw;
    li {
      font-size: 1.2rem;
      margin-right: 50px;

      a:hover {
        color: $spaceCadet;
        font-style: normal;
        font-weight: 600;
      }
    }
  }

  .caddie {
    width: 33vw;
    cursor: pointer;
    img {
      width: 35px;
    }
  }
}

#Navbar.lightMode,
.Navbar2.lightMode {
  background-color: $seashell;

  * {
    color: $cinerous;
  }

  ul li a:hover {
    color: $spaceCadet;
  }
}

.Navbar2 {
  position: absolute;
  top: 0;
}
