#ShowcaseOneIllu {
  height: 100vh;
  width: 100vw;
  padding: 0 50px;

  .illustration {
    width: 33vw;
  }

  .illustrationPresentation {
    width: 40vw;
    height: 70vh;
  }
}

#ShowcaseOneIllu:nth-child(2n) {
  flex-direction: row-reverse;
}
