#HeroBanner {
  height: calc(100vh - 60px);

  h1 {
    color: $charleston;
    font-size: 11rem;
    letter-spacing: -1rem;
    line-height: 13rem;
    height: 30%;

    .letter {
      font-family: "Didot";
      font-style: italic;
      display: inline-block;
    }

    .letter:nth-last-child(1),
    .letter:nth-last-child(2) {
      font-family: "Avenir";
      font-size: 3rem;
      font-style: normal;
      letter-spacing: -0.05rem;
    }
  }

  .subPicture {
    top: 100vh;
    width: 100%;
    height: 100vh;
    outline: none;
    background-color: $cinerous;
  }
}
